.App {

}

.Header {
  background-color: #F1EEF5;
  height: 50px;
  width: 100%;
  position:fixed;
}

.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

	list-style-type:none;
  line-height: 50px;

}

.Nav.Link{
  text-decoration: none;
}

.Login{
  padding-left: 500px;
}

.App-link {
  color: white;
}

.Box1 {
  width: 100%;
  height: 400px;
  background-color: #ccc;

}

.Box2 {
  width: 100%;
  height: 400px;
  background-color: #eee;

}

.Home {
  display: flex;
  flex-direction: column;
}
