.App {

}

.btn{

  background-color: white;
  color: black;
  padding: 10px 60px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10%;
}


nav {
  background-color: #F5B041;
  height: 50px;
  width: 100%;
  position:fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul{
  display: flex;
  flex-direction: row;
	list-style-type:none;
  line-height: 50px;
  }

nav li{
  text-decoration: none;
  padding: 0px 20px 0px 20px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {

}

.LoginButton{
  padding-left: 500px;
}

.buttons  {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding-top: 150px;
  padding-bottom: 400px;
  list-style-type: none;
  margin: 0 auto 0 auto;
}

.microsoft-button {
  padding: 15px 50px 15px 50px;
  font-size: 20px;
}

.google-button {
  margin-top: 15px;
}

.Box1 {
  width: 100%;
  height: 400px;
  background-color: #ccc;

}

.Box2 {
  width: 100%;
  height: 400px;
  background-color: #eee;
}

.About {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 400px;
}

.Team-member {
  display: flex;
  background-color: #FFC300;
  height: 400px;
  width: 300px;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 200px;
}

.Adplatforms {
  padding-top: 100px;
  padding-bottom: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Platform {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #581845;
  color: white;
}

.Dashboard {
  padding-top: 100px;
}
.Contact {
  padding-top: 100px;
  padding-bottom: 400px;

}

.btn1{
  background-color: white;
  color: black;
  padding: 10px 80px;
  font-size: 16px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  display:inline;
}


.Home {
  display: flex;
  flex-direction: column;
}

.Footer {
  height: 200px;
  width:100%;
  background-color: #900C3F;

}
