.App {

}



.Header {
  background-color: #F1EEF5;
  height: 50px;
}

.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

	list-style-type:none;
  line-height: 50px;
  font-size: 14px;
  color: #505051;
}

.Login{
  padding-left: 500px;
}

.App-link {
  color: white;
}
